@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-5">
    <h1 class="display-5 mb-4">
        Metas y Proyectos
    </h1>
    <div class="d-flex justify-content-center gap-3">
        <a asp-controller="MetasProyectos" asp-action="Index"
           class="btn btn-primary btn-lg">Metas y Proyectos</a>
    </div>
</div>