@{
    ViewData["Title"] = "Metas y Proyectos";
}

<div class="text-center mt-5">
    <h2>Metas y Proyectos</h2>
    <p class="lead">En construcción</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-link">&larr; Volver</a>
</div>